@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: Regular ;
}
.hero{
    width: 99vw;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logo{
    width: 150px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
}
.content{
    text-align: start;
    padding-right: 30%;
    /* border: solid rebeccapurple; */

}
.content h1{
    font-size: 100px;
    color: #fff;
    

}
.content h4{
    font-size: 50px;
    color: #fff;
    font-weight: 30;
}

.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.hero1{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 99vw;
    position: relative;
    background-image: url("/assests/1.jpg");
    background-size: cover;
}

.content1{
    text-align: flex-start;
    padding-right: 30%;
    padding-top: 8%;
    text-align: left;
    padding-top: 20px;
    

}
.content1 h1{
    
    font-size: 5vh;
    text-align: left;
    padding-left: 9vh;
    color: black;
    font-weight: -10px;
    
    

}
.content1 p{
    padding-left:15%;
    justify-content: start;
    font-family: 'Courier New', Courier, monospace;

}
.image22{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 80vh;
    padding-top: 5vh;
    padding-bottom: 9vh;
    padding-right: 20vh;
    

}

.image3{
    float: left;
    height: 43%;
    width: 125%;
    padding-left: 15%;
}


.screen3{
    border:solid red;
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 99vw;
    position: relative;
    
}
.third{
    border: solid goldenrod;
    height: 20vh;
    width: 99vw;
}



