@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: Regular ;
}
body{
    overflow-x: hidden;
}
.screen1{
    width: 100vw;
    height: 100vh;
    background-image: url('/assests/18.jpg');
    background-size: cover;
    position: relative;
    background-size: cover;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logo8{
    
    width: 150px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    
}
.l1{
    margin-left: 200px;
}
.content{
    text-align: start;
    padding-right: 30%;
    font-weight: lighter;
    /* border: solid rebeccapurple; */

}
.content h1{
    font-size: 100px;
    color: #fff;
    

}
.content h4{
    font-size: 50px;
    color: #fff;
    font-weight: 30;
}

.back-video{
    position: absolute;
    right: 0;
    background-size: cover;
    bottom: 0;
    z-index: -1;
}

.screen2{
    display: flex;
    width: 100vw;
    height: 70vh;
    position: relative;
}

.text{
    display: flex;
    position: absolute;
    height: 70vh;
    width: 100vw;
    padding-top: 10%;

    
}
.text p{
    font-size: 35px;
    color: black;
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'Courier New', Courier, monospace;
}

.screen3{
    display: flex;
    flex-direction: row;
    
    height: 160vh;
    width: 100vw;
    

}

.content1{
    text-align: flex-start;
    padding-left: 5%;
    padding-top: 8%;
    text-align: left;
    padding-top: 10%;
    

}
.content1 h1{
    
    font-size: 5vh;
    text-align: left;
    padding-left: 15vh;
    color: black;
    font-weight: lighter;
    
    

}
.content1 p{
    padding-left:15%;
    padding-right: 35%;
    justify-content: start;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 10%;
    

}
.image22{
    display: flex;
    flex-direction: column;
    height: 150vh;
    width: 90vh;
    padding-top: 10vh;
    
    padding-bottom: 9vh;
    padding-right: 20vh;
    

}

.screen4{
    
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    position: relative;
    
}
.third{
    
    height: 20vh;
    width: 80vw;
    margin-left: 10%;
    margin-right: 10%;
}
.third1{
    
    height: 20vh;
    width: 40vw;
    float: left;
    font-size: larger;
    
}
#r1{
    font-family: 'Courier New', Courier, monospace;
}
#r2{
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
}
.third2{

    height: 20vh;
    float: right;
    justify-content: end;
    width: 40vh;
    padding-left: 7%;
    padding-top: 2%;

    
}
.c-locations-btns {
    display: flex;
    position: relative;
    justify-content:center;
    z-index: -1;
    width: 60%;
    
}

.c-locations-btn {
    --s: 4rem;
    background-color: #fff;
    border-radius: 50%;
    height: var(--s);
    position: relative;
    transition: background-color .75s cubic-bezier(.19, 1, .22, 1);
    width: var(--s);
    z-index: 3
}

.c-locations-btn:hover {
    background-color: #111
}

.c-locations-btn:first-child {
    margin-right: 1.5rem
}

.c-locations-btn__inner {
    bottom: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0
}

.c-locations-btn__inner.--next {
    transform: scaleX(-1)
}

.c-locations-btn__arr {
    align-items: center;
    bottom: 0;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%
}

.c-locations-btn__arr svg {
    height: auto;
    transition: fill .75s cubic-bezier(.19, 1, .22, 1);
    width: 1.35rem
}

.c-locations-btn:hover .c-locations-btn__arr svg {
    fill: #fff
}

.c-locations-btn:after {
    border-radius: 50%;
    bottom: 0;
    box-shadow: 0 8px 14px 0 rgba(0, 0, 0, .15);
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1
}

.back4{

    height: 70%;
    position: absolute;
    gap: 8%;
    display: grid;
    width: 99.8%;
    margin-right: 3%;
    align-content: space-between;
    top: 23%;

}

.screen5{
    display: flex;
    flex-direction: column;
    height: 110vh;
    width: 100vw;
    position: relative;

}

.imagee{
    display: flex;
    flex-direction: row;
    height: 80vh;
    width: 100vw;
    position: relative;
    top: 10%;
    background-image: url(../assests/25.jpg);
    background-size: cover;
}


.section5 {
    background-color: #181f1e;
    color: #fff;
    padding: 0 24px;
    margin: 0;
    /* height: 115vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-start;
    overflow: hidden;

}

.section5-head {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    padding: 5% 30%;
    gap: 40vh;

}

.section5-head-content {
    font-size: 3vh;
    width: 25vw;
}

.section5-foot {
    display: flex;
    align-items: center;
}


.section5-btn {
    border-color: rgba(255, 255, 255, 0.5);
    margin-top: 20px;
    color: #fff;
    border: 1px solid rgb(183, 183, 183);
    background-color: transparent;
    align-items: center;
    width: 130px;
    height: 50px;

}

.section5-btn:hover {
    border-color: rgba(255, 255, 255, 0.5);
}


.section5-foot-vdo {
    height: 95vh;
}


.screen7{
    
    
    height: 100vh;
    width: 100vw;

}

.pic2{
    height: 90vh;
    font-weight: 100vw;
    background-image: url(/assests/29.jpg);
}

.screen8{
    display: flex;
    height: 140vh;
    width: 100vw;
}

.content11{
    padding-right: 30%;
    padding-top: 8%;
    text-align: left;
    padding-top: 10%;
    

}
.content11 h1{
    
    font-size: 5vh;
    padding-left: 21vh;
    color: black;
    font-weight: -10px;
    font-family: 'Courier New', Courier, monospace;
    
    

}
.content11 p{
    width: 300px;
    margin-left: 100px;
    
    padding-left: 5vh;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 10%;
    


}
.image222{
    height: 120vh;
    width: 90vh;
    padding-top: 10vh;
    padding-bottom: 9vh;
    padding-right: 20vh;
    

}

.image3{
    float: left;
    height: 34%;
    width: 125%;
    padding-left: 15%;
}

.screen9{
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 100vw;
    background-size: cover;
    background-image: url("/assests/26.jpg");
    z-index: -1;
}

.our{
    display: flex;
    position: absolute;
    /* align-items: center; */
    height: 30vh;
    width: 30vw;
    left: 36.5%;
    margin-top: 10%;
    justify-content: center;
}

.world{
    display: flex;
    height: 15vh;
    width: 30vw;
    left: 36.5%;
    font-size: 60px;
    justify-content: center;
    align-items: center;
    color: #fff;
    
}

.explore{
    display: flex;
    position: absolute;
    border: #fff solid 1px;
    color: white;
    margin-top: 30%;
    height: 10vh;
    width: 12vw;
    left: 25%;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}


.screen10{
    height: 80vh;
    width: 100vw;
    background-color: #111;
}

.logo{
    display: flex;
    position: absolute;
    left: 16vh;
    margin-top: 10%;
    height: 10vh;
    width: 10vw;
    
}

.lines{
    display: flex;
    position: absolute;
    left: 55%;
    margin-top: 10%;
    height: 40vh;
    width: 40vw;
    
}
.line1{
    display: flex;
    position: absolute;

    height: 100%;
    width: 50%;
    line-height: 200%;
}
.line2{
    display: flex;
    position: absolute;
    
    height: 100%;
    left: 100%;
    width: 51%;
    line-height: 200%;
}
.line3{
    display: flex;
    position: absolute;
    
    height: 100%;
    left: 150%;
    width: 51%;
    line-height: 200%;
}
.textbottom{
    font-size: 10px;
    opacity: 0.5;
}

.hov{
    transition: all 0.5s;
}
.hov:hover{
    transform: scale(1.2);
}